#top-slider {
  position: relative;
  background: none;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
#top-slider-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 10;
  opacity: 0;
  background-color: #000;
}
.top-slider-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}
#top-slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
#top-slider-text * {
  font-weight: 500;
  text-shadow: 0 0 10px #fff;
}
#top-slider h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
#top-slider a {
  text-decoration: none;
}

#macbook-pro {
  aspect-ratio: 20 / 9;
  overflow: hidden;
  padding: 0;
  margin: 100px 10%;
  width: 80%;
}
#macbook-pro-1,
#macbook-pro-2 {
  width: 100%;
  aspect-ratio: 20 / 9;
  background-size: cover;
}
#macbook-pro-1 {
  background-position: top;
  background-image: url('/me/image/macbook-pro-2.jpg');
}
#macbook-pro-2 {
  position: absolute;
  top: 0%;
  background-position: center;
  background-image: url('/me/image/macbook-pro-1.jpg');
}

#sakura-1 {
  height: 50vh;
  top: 100px;
  opacity: 0;
  background-image: url('/me/image/sakura-1.jpg');
  background-position: bottom;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}
#sakura-1.showed {
  top: 0;
  opacity: 1;
}
#sakura-1.animation {
  
}
