@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&family=Nunito:wght@300&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

b {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
a:not(header > *)::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background-image: url('/image/go.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: #efefef;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #efefefd9;
  border-bottom: 1px solid #c7c7c7;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 0 15px #0008;
  z-index: 9999;
}
header * {
  font-weight: 100;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
header > #pageTitle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
#header-title {
  height: 25px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header-title * {
  position: relative;
  top: -5px;
}
#header-title > #logo {
  height: 100%;
  aspect-ratio: 1 / 1;
  background-image: url('/image/favicon.ico');
  margin-right: 5px;
}
#header-title > h1 {
  top: -10px;
}
#menu-button {
  margin: 5px;
  height: 40px;
  width: 40px;
  background-image: url('/image/3lines.svg');
}

#sidebar {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: -100vw;
  bottom: 0;
  width: 20vw;
  min-width: 150px;
  height: 100vh;
  background-color: #0006;
  z-index: 9995;
  padding: 5px;
  padding-top: 60px;
  box-shadow: 0 13px 15px #0008;
  transition: all 0.8s cubic-bezier(.8, 0, .2, 1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
#sidebar > * {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  font-weight: 300;
}
#sidebar::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000c;
  z-index: -1;
}
#sidebar.opened {
  opacity: 1;
  left: 0;
}

main {
  margin-top: 50px;
}

footer {
  text-align: center;
  font-weight: 200;
}

a.content::after {
  display: none;
}

#developers {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 1300px) {
  #developers {
    display: block;
  }
}

@media (max-width: 550px) {
  header h1 {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #111c;
    color: #ddd;
    border-color: #222;
  }
  #menu-button {
    background-image: url('/image/3lines-white.svg');
  }
  body {
    background-color: #222;
    color: #fff;
  }
  .member .left {
    background-color: #555;
    color: #eee;
  }
  .member {
    background-color: #000;
    box-shadow: 0 0 10px #333;
  }
}
