main#member > #members {
  display: grid;
  grid-template-columns: 50% 50%;
}
.member,
.news {
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px #8888;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  transition: all 0.4s ease-in-out;
}
.member::before,
.news::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  width: 40%;
  height: 10px;
  border-radius: 0 0 15px 0;
  background-color: #888;
}
:is(.member, .news) .left {
  min-width: 170px;
  max-width: 170px;
  background-color: #111111;
  color: #fff;
  z-index: +5;
}
.left .icon {
  height: 175px;
  background-size: cover!important;
  background-position: center!important;
}
.left .about {
  padding: 5px 15px;
}
.left * {
  font-weight: 100;
}
:is(.member, .news) .right {
  padding: 20px;
}
.right p {
  font-size: 20px;
}
:is(.link, .project) p {
  margin-top: 10px;
  font-size: 17px;
  color: #777;
  font-family: 'Nunito';
}
.project a {
  position: relative;
  top: -7px;
}

.news:hover {
  box-shadow: 0 0 10px #666;
}

.sorakime .icon {
  background-image: url('/image/icon/sorakime.jpg');
}
.waryu_ynd .icon {
  background-image: url('/image/icon/waryu_ynd.jpg');
}
.hidemal .icon {
  background-image: url('/image/icon/hidemal.jpg');
}
.plus_one .icon {
  background-image: url('/image/icon/plus_one.jpg');
}

@media (max-width: 800px) {
  main#member > #members {
    display: block;
  }
}
