/* Default (light theme) */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --hover-box-shadow-color: rgba(0, 0, 0, 0.2);
  --left-background-color: #333333;
  --left-text-color: #ffffff;
  --link-color: #777;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #ffffff;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    --hover-box-shadow-color: rgba(255, 255, 255, 0.2);
    --left-background-color: #ffffff;
    --left-text-color: #333333;
    --link-color: #ccc;
  }
}

main#member > #members {
  display: grid;
  grid-template-columns: 50% 50%;
}
.member,
.news {
  display: flex;
  position: relative;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px var(--box-shadow-color);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  transition: all 0.4s ease-in-out;
}
.member::before,
.news::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 200px;
  width: 40%;
  height: 10px;
  border-radius: 0 0 15px 0;
  background-color: var(--left-background-color);
}
:is(.member, .news) .left {
  min-width: 170px;
  max-width: 170px;
  background-color: var(--left-background-color);
  color: var(--left-text-color);
  z-index: +5;
}
.left .icon {
  height: 175px;
  background-size: cover!important;
  background-position: center!important;
}
.left .about {
  padding: 5px 15px;
}
.left * {
  font-weight: 100;
}
:is(.member, .news) .right {
  padding: 20px;
}
.right p {
  font-size: 20px;
  color: var(--text-color);
}
:is(.link, .project) p {
  margin-top: 10px;
  font-size: 17px;
  color: var(--link-color);
  font-family: 'Nunito';
}
.project a {
  position: relative;
  top: -7px;
}

.news:hover {
  box-shadow: 0 0 10px var(--hover-box-shadow-color);
}

.sorakime .icon {
  background-image: url('/image/icon/sorakime.jpg');
}
.waryu_ynd .icon {
  background-image: url('/image/icon/waryu_ynd.jpg');
}
.hidemal .icon {
  background-image: url('/image/icon/hidemal.jpg');
}
.plus_one .icon {
  background-image: url('/image/icon/plus_one.jpg');
}

@media (max-width: 800px) {
  main#member > #members {
    display: block;
  }
}
