main,
body main {
  width: 100%;
  padding: 0;
  margin-top: 0;
  padding-top: 50px;
}

body main > * {
  position: relative;
  padding: 40px calc(50vw - 650px);
  box-sizing: border-box;
}

#top {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: calc(100vh - 50px);
}
#top-left {
  min-width: 300px;
  text-align: right;
  margin: auto 0;
}
#top-right {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  margin: 10vmin;
  background-image: url('/image/monot-8.png');
  background-position: center;
  background-size: contain;
}
#new-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

#whats-new {
  height: 100vh;
  min-height: 800px;
  position: relative;
}
#whats-new h2 {
  text-shadow: 0 0 5px #efefef;
}
#new-grid {
  height: 75%;
  margin: 12.5% 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #fff;
  padding: 10px;
  border-radius: 35px;
}
#new-grid > a {
  display: block;
  background-color: #efefef;
  border-radius: 20px;
  margin: 10px;
  padding: 15px;
}
#new-grid > a::after {
  display: none;
}
#new-favicon,
#favicon .news-right {
  background-image: url('/image/monot8/favicon.png');
  background-position: right bottom;
}
#new-tabFix,
#tabFix .news-right {
  background-image: url('/image/monot8/tabFix.png');
  background-position: right bottom;
}
#new-tabMove,
#tabMove .news-right {
  background-image: url('/image/monot8/tabMove.png');
  background-position: center bottom;
  background-size: 90%;
}
#new-overflowMenu,
#overflowMenu .news-left {
  background-image: url('/image/monot8/overflowMenu.png');
  background-position: bottom left;
}
#new-overflowMenu h2 {
  text-align: right;
  margin-left: 50%;
  width: 50%;
}
#new-menus,
#menus .news-left {
  position: relative;
  background-image: url('/image/monot8/menus.png');
}
#new-thinUI,
#thinUI .news-right {
  background-image: url('/image/monot8/thinUI.png');
  background-position: right bottom;
}
#new-menus h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#new-bookmarkHome {
  background-image: url('/image/monot8/bookmarkHome.png');
  background-position: center top;
  position: relative;
}
#new-bookmarkHome h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#new-wallpaper,
#wallpaper .news-right {
  background-image: url('/image/monot8/background.png');
  background-position: bottom right;
}
#new-suggest,
#suggest .news-right {
  background-image: url('/image/monot8/suggest.png');
  background-position: bottom right;
}

#news > div {
  padding: 12.5vh 0;
}
#news > div > div {
  position: relative;
  padding: 20px;
  border-radius: 35px;
  background-color: #fff;
  overflow: auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
}
#news > div > div > div {
  height: 100%;
  display: flex;
}
.news-left {
  width: 50%;
  position: relative;
  padding-left: 20%;
  box-sizing: border-box;
  border-radius: 15px;
}
.news-right {
  position: relative;
  width: 50%;
  padding-right: 20%;
  box-sizing: border-box;
  border-radius: 15px;
}
#news > div > div p {
  text-align: justify;
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 25px;
  font-weight: 300;
}
#news > div > div > a {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
#tabMove .news-right {
  background-size: 150%;
  background-position: left;
}
#overflowMenu .news-left {
  background-size: 80%;
}
#bookmarkHome .news-right {
  background-image: url('/image/monot8/bookmarkHome2.png');
  background-position: right;
}

#release h2 {
  font-size: 35px;
}
#release ul {
  position: relative;
  left: 25px;
}
#release h3 {
  font-size: 25px;
}

@media (prefers-color-scheme: dark) {
  #new-grid {
    background-color: #444;
  }
  #new-grid > a {
    background-color: #222;
  }
  #news > div > div {
    background-color: #444;
  }
  #whats-new h2 {
    text-shadow: 0 0 5px #222a;
  }
}

@media (max-width: 800px) {
  #whats-new,
  #whats-new * {
    overflow: hidden;
    position: relative;
  }
  #whats-new h2 {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: left;
  }
}
