main{
  text-align: center;
}
main>div{
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  text-align: center;
}
#title{
  overflow: hidden;
}
main>div::before{
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px;
  opacity: 0;
  background-image: url('/mncr/images/elemental.jpg');
  z-index: -1;
  background-position: center;
  background-size: cover;
  filter: brightness(80%) blur(5px);
  transition: all 2s ease-in-out;
  background-attachment: fixed;
}
main>div[data-loaded]::before{
  opacity: 1;
}

main>div h1{
  font-size: 40px;
}
img{
  display: inline-block;
  width: 30vmin;
  height: 30vmin;
}

main>div#kaitenakatta{
  width: 90vw;
  left: 5vw;
}

h6{
  position: relative;
  top: 15px;
}

#title>div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  main>div::before{
    filter: brightness(120%) blur(5px);
  }
}
